/* TimelineSelection.module.css */

.selection {
  position: absolute;
  top: 7px;
  bottom: 23px;
  /* z-index to stay above ticks? or below? usually above. */
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: move;
  scroll-margin-left: 100px;
}

.framesContainer {
  display: flex;
  flex-direction: row;
  gap: 1px;
  flex-shrink: 0;
  overflow: hidden;
  height: 75%;
}

.frame {
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  flex-shrink: 0;
  flex-grow: 1;
  border-radius: 0.125em;
  transition: background 200ms ease-in-out;
}

.selection:hover {
  .frame {
    background: rgba(255, 255, 255, 0.4);
  }
}

.selection[data-dragging] {
  .frame {
    background: rgba(255, 255, 255, 0.25);
  }
}

/* Handles */
.handle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: rgba(255, 255, 255, 1);
  box-shadow:
    inset 0 0.05em 0.1em 0.05em rgba(255, 255, 255, 0.75),
    0 0.1em 0.1em rgba(0, 0, 0, 1);
  backdrop-filter: blur(1px);
  border-radius: 0.5em;
  outline: 2px solid transparent;
  cursor: ew-resize;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background 200ms,
    outline 200ms;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }

  &:focus {
    outline: var(--color_focus_border) 2px solid;
    outline-offset: 1px;
    background: rgba(255, 255, 255, 0.75);
  }
}

.selection[data-dragging='left'] {
  .handleLeft {
    background: rgba(255, 255, 255, 0.25);
  }
}

.selection[data-dragging='right'] {
  .handleRight {
    background: rgba(255, 255, 255, 0.25);
  }
}

.handleLeft {
  left: 0;
  transform: translate(-50%, 0%);
}

.handleRight {
  right: 0;
  transform: translate(50%, 0%);
}
