.popup {
  position: absolute;
  bottom: -0.5em;
  left: 0;
  translate: 0 100%;
  border-radius: 0.5em;
  z-index: 1000;
  width: 100%;
  color: var(--color_panel_text);
  background: rgba(225, 225, 225, 0.69);
  backdrop-filter: blur(5px);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.5) 0 8px 6px;

  /* Grid overlapping elements trick */
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.popup::after {
  content: '';
  border-top: rgba(255, 255, 255, 0.75) 1px solid;
  border-left: rgba(255, 255, 255, 0.5) 1px solid;
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  pointer-events: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 0.75em;
  background: rgba(255, 255, 255, 0.45);
}

.config {
}

.generation {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}
