.gifitProgress {
  align-items: center;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: center;
}

.save {
}

.elements {
  position: relative;
  width: 100%;
  height: 5px;
  transition:
    width 350ms,
    height 350ms 250ms;
}

.progress {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  height: 100%;
}

.chunkGrid {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.chunk {
  background: #000000;
  margin: 0;
  padding: 0;
}

.result {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.actions {
  display: flex;
  gap: 0.5em;
  justify-content: center;
}
