.resultPanel {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-areas:
    'frames size dimensions name name name'
    'reset reset reset download download download';
  padding: 0.5em;
  gap: 0.75em 1em;
  width: 100%;
  height: 100%;
}

.stat {
  font-variant-numeric: tabular-nums;
  font-size: 0.75em;
}

.frames {
  grid-area: frames;
}

.size {
  grid-area: size;
}

.dimensions {
  grid-area: dimensions;
}

.name {
  grid-area: name;
  justify-self: stretch;
}

.reset {
  grid-area: reset;
  justify-self: stretch;
}

.download {
  grid-area: download;
  justify-self: stretch;
}

.icon {
  font-size: 1.25em;
}
