.previewContainer {
  grid-column: 1 / -1; /* Toggle spanning all columns */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image {
  display: block;
  object-fit: fill;
  box-shadow: 0 0px 1px rgba(255, 255, 255, 0.5);
  outline: 1px solid rgba(0, 0, 0, 0.5);
  outline-offset: 1px;
}
