.gifitConfiguration {
  opacity: 1;
  transition:
    -webkit-filter 300ms,
    opacity 300ms,
    transform 300ms;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'preview preview preview'
    'timeline timeline timeline'
    'start duration fps'
    'width height quality'
    'submit submit submit';
  gap: 1px;
  padding: 1px;
  /* Since we're using gaps for borders, the background is actually the border color */
  background: var(--color_panel_border);
}

.preview,
.timeline,
.start,
.duration,
.width,
.height,
.fps,
.quality,
.submit {
  background: var(--color_panel_background);
}

.preview {
  grid-area: preview;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: oklch(from var(--color_panel_background) 0.2 c h);
}

.start {
  grid-area: start;
}

.duration {
  grid-area: duration;
}

.width {
  grid-area: width;
}

.height {
  grid-area: height;
}

.linkDimensions {
  grid-column-end: height;
  grid-column-start: width;
  grid-row-end: height;
  grid-row-start: width;
  align-self: center;
  justify-self: center;
  z-index: 5;
  backdrop-filter: blur(2px);
}

.linkIcon {
  height: 1em;
}

.fps {
  grid-area: fps;
}

.quality {
  grid-area: quality;
  display: flex;
  align-items: center;
}

.timeline {
  grid-area: timeline;
}

.submit {
  grid-area: submit;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.submitButton {
  flex-grow: 1;
}

.actions {
  display: flex;

  > * {
    flex-grow: 1;
  }
}
