.gifitConfiguration {
  opacity: 1;
  transition:
    -webkit-filter 300ms,
    opacity 300ms,
    transform 300ms;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'timeline timeline timeline'
    'start duration fps'
    'width height quality'
    'submit submit submit';
  gap: 1px;
  padding: 1px;
  /* Since we're using gaps for borders, the background is actually the border color */
  background: var(--color_panel_border);
}

.timeline,
.submit,
.actions {
  background: var(--color_panel_background);
}

.timeline {
  grid-area: timeline;
}

.actions {
  grid-area: submit;
  display: flex;
  place-content: center;
  padding: 0.25em;
  gap: 0.25em;
}

.submit {
  width: 33%;
  flex-grow: 0;
}
