.gifitConfiguration {
  opacity: 1;
  transition:
    -webkit-filter 300ms,
    opacity 300ms,
    transform 300ms;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'preview preview preview'
    'timeline timeline timeline'
    'start duration fps'
    'width height quality'
    'submit submit submit';
  gap: 1px;
  padding: 1px;
  /* Since we're using gaps for borders, the background is actually the border color */
  background: var(--color_panel_border);
}

.preview,
.timeline,
.submit {
  background: var(--color_panel_background);
}

.preview {
  --bg-size: 50px;
  grid-area: preview;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:
    radial-gradient(rgb(255 255 255 / 7%) 1px, transparent 1px),
    radial-gradient(rgb(255 255 255 / 5%) 1px, #111 1px);
  background-size: var(--bg-size) var(--bg-size);
  background-position:
    0 0,
    calc(var(--bg-size) / 2) calc(var(--bg-size) / 2);
}

.timeline {
  grid-area: timeline;
}

.actions {
  grid-area: submit;
  display: flex;
  place-content: center;
}

.submit {
  width: 33%;
}

.actions {
  display: flex;

  > * {
    flex-grow: 1;
  }
}
