.gifitConfiguration {
  opacity: 1;
  transition:
    -webkit-filter 300ms,
    opacity 300ms,
    transform 300ms;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
  gap: 1px;
}

.linkedInputs {
  display: flex;
}

.actions {
  display: flex;

  > * {
    flex-grow: 1;
  }
}
