.app {
  position: absolute;
  bottom: 0;
  right: 0.6em;
  translate: 0 100%;
  z-index: 1;
}

.gifitButton {
  font-size: 0.8em;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  translate: 0 0;
  transform-origin: top center;
  transition:
    translate 125ms,
    scale 125ms,
    background-color 125ms filter 125ms;

  strong {
    font-weight: 900;
  }

  &:hover {
    translate: 0 0;
    opacity: 1;
    scale: 1.05;
  }

  &:active {
    translate: 0 0.125em;
  }
}
