.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  width: 800px;
  height: 600px;

  --bg-size: 50px;
  background-image:
    radial-gradient(rgb(255 125 125 / 20%) 1px, transparent 1px),
    radial-gradient(rgb(255 255 255 / 10%) 1px, #111 1px);
  background-size: var(--bg-size) var(--bg-size);
  background-position:
    0 0,
    calc(var(--bg-size) / 2) calc(var(--bg-size) / 2);
}

.generation {
  position: absolute;
  inset: 0;
  z-index: 100;
  padding: 2em;
}

.gifitButton {
  font-size: 0.8em;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  translate: 0 0;
  transform-origin: top center;
  transition:
    scale 125ms,
    background-color 125ms,
    filter 125ms;
  transition-timing-function: var(--ease_out_expo);

  strong {
    font-weight: 900;
  }

  &:hover {
    scale: 1.05;
  }

  &:active {
    scale: 0.95;
  }
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0;

  &:empty::after {
    content: 'Error: No Preview Data';
    display: block;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    outline: rgba(255, 255, 255, 0.25) 1px dashed;
    padding: 1em 1.5em;
    border-radius: 0.5em;
  }
}

.panel {
  view-transition-name: app-panel;
  background: var(--color_panel_background);
  border-radius: 0.5em;

  > *:first-child {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    overflow: hidden;
  }

  > *:last-child {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    overflow: hidden;
  }
}

.config {
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0.5em;
  font-size: 12px;
}

.credit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}

.tkLogo {
  height: 1em;
  vertical-align: middle;
}
