.previewContainer {
  grid-column: 1 / -1; /* Toggle spanning all columns */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.image {
  display: block;
  object-fit: fill;
}
