@import 'https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap';

* {
  box-sizing: border-box;
}

:root {
  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --MAXIMUM_Z_INDEX: 2147483647;

  --color_primary: rgb(207, 10, 55);
  --color_focus_border: oklch(from var(--color_primary) calc(l * 1.25) c h / 1);

  --color_popup_background: rgb(15, 15, 15);
  --color_panel_border: rgb(65, 65, 65);
  --color_panel_background: rgb(35, 35, 35);

  --color_panel_text: rgb(125, 125, 125);
  --color_input_text: rgb(25, 25, 25);

  --color_slider_thumb: rgb(235, 235, 235);
  --color_slider_thumb_focus: rgb(255, 255, 255);
  --color_slider_background: rgba(0, 0, 0, 0.06);

  --color_button: rgb(235, 235, 235);
  --color_button_background: rgb(25, 25, 25);
  --color_button_primary_background: rgb(235, 15, 15);
  --color_accent: rgb(0, 225, 255);
  --color_subtle_shadow: rgba(0, 0, 0, 0.25);

  --ease_in_expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease_out_expo: cubic-bezier(0.19, 1, 0.22, 1);

  --border-radius: 0.5em;
}

body {
  font-family: 'Geist', sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  background: var(--color_popup_background);
}

::selection {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

input {
  font-family: inherit;
  letter-spacing: 0.05em;
}

/* Style for browser's default spinners (optional) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Hide default spinners in WebKit */
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Hide default spinners in Firefox */
  appearance: textfield;
}

a {
  color: rgb(235, 235, 235);
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-color: var(--color_primary);
  text-decoration-thickness: 0.1em;
  font-weight: 600;
  border-radius: 0.25em;
  transition:
    color 250ms,
    text-decoration-color 250ms,
    outline 200ms ease-in-out;

  &:hover {
    color: rgb(255, 255, 255);
    text-decoration-color: oklch(
      from var(--color_primary) calc(l * 1.25) c h / 1
    );
  }
}

* {
  outline-color: oklch(from var(--color_focus_border) l c h / 0);
  transition: outline 200ms ease-in-out;
}

:focus-visible {
  outline: var(--color_focus_border) 2px solid;
}

::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 350ms;
  animation-timing-function: var(--ease_out_expo);
}
